body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
  font-family: "Roboto Slab", serif !important;
}
.outer {
  padding: 3rem;
}
.outer > .row {
  padding-left: 10rem;
  color: red;
}

.card {
  width: 20rem;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(100, 98, 98, 0.253) !important;
}
.card-body {
  padding: 3rem 0 !important;
}
.container-fluid {
  margin-top: 2rem;
}
.container-fluid .row {
  padding-top: 6rem;
}
.card-img-top {
  transform: scale(1);
  transition: 0.5s ease-out;
}
.card-img-top:hover {
  transform: scale(1.5);
}
.overflow {
  overflow: hidden;
}
